.add button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  /* background-color: #f5b800; */
  background-color: var(--button-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}



.add button:hover {
  /* background-color: #e0a800; */
  background-color: var(--button-color);
}